-e .
markdown
-e git+https://github.com/edx/xblock-utils.git@510308398bda660cfcc49bfc1f6b406c0ee8cd91#egg=xblock-utils
-e git://github.com/nosedjango/nosedjango.git@ed7d7f9aa969252ff799ec159f828eaa8c1cbc5a#egg=nosedjango-dev
ddt
mock
