{{ js_template|safe }}
<div class="poll-block themed-xblock" data-private="{% if private_results %}1{% endif %}"
     data-can-vote="{% if can_vote %}1{% endif %}">
  <div class="poll-block-form-wrapper">

    <h3 class="poll-header">{{ display_name }}</h3>

    <form>
      <fieldset class="poll-container">
        <legend class="poll-question">
          {{ question|safe }}
        </legend>
        <div class="poll-answers">
          {% for key, value in answers %}
            <div class="poll-answer">
              <div class="poll-input-container">
                <input type="radio" name="choice" id="poll-{{ block_id }}-answer-{{ key }}" value="{{ key }}"
                    {% if choice == key %}checked{% endif %}/>
              </div>
              {% if any_img %}
                <div class="poll-image">
                  <label for="poll-{{ block_id }}-answer-{{ key }}" class="poll-image-label">
                    {% if value.img %}
                      <img src="{{ value.img }}"/>
                    {% endif %}
                  </label>
                </div>
              {% endif %}
              <label class="poll-answer-text" for="poll-{{ block_id }}-answer-{{ key }}">{{ value.label|safe }}</label>
            </div>
          {% endfor %}
        </div>
      </fieldset>
      <input class="input-main" type="button" name="poll-submit" value="Submit" disabled/>
    </form>

    <div class="poll-voting-thanks
        {% if not choice or can_vote %}poll-hidden{% endif %}">
      <span>Thank you.</span>
    </div>

    <div class="poll-submissions-count poll-hidden">
      You have used <span class="poll-current-count">{{ submissions_count }}</span>
      out of <span class="poll-max-submissions">{{ max_submissions }}</span> submissions.
    </div>

    {% if feedback %}
      <div class="poll-feedback-container{% if not choice %} poll-hidden{% endif %}">
        <hr/>
        <h3 class="poll-header">Feedback</h3>

        <div class="poll-feedback">
          {{ feedback|safe }}
        </div>
      </div>
    {% endif %}

    {% if can_view_private_results %}
      <div class="view-results-button-wrapper">
        <button class="view-results-button">View results</button>
      </div>
    {% endif %}

  </div>
</div>
