/* CSS for PollBlock Studio Menu View */

.poll-delete-answer {
    clear: right;
    float: right;
    margin-top: 1em;
    opacity: 0.5;
}
.poll-delete-answer:hover {
    opacity: 1;
}
#poll-question-editor-container, #poll-feedback-editor-container{
    width: 100%;
    text-align: center;
}
#poll-question-editor, #poll-feedback-editor{
    width: 98%;
    height: 7em;
    text-align: left;
    color: #4C4C4C;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 0 9px #555 inset;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    padding: 10px;
}

.poll-move-up {
    display: block;
    opacity: .5;
}

.poll-move-down {
    display: block;
    opacity: .5;
}

.poll-move-down:hover, .poll-move-up:hover {
    opacity: 1;
    transition: opacity .4s;
    cursor: pointer
}

.poll-move {
    float: right;
}

.poll-setting-label {
    text-transform: capitalize;
}
